*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titleEspeces {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}   

.descriptionEspeces{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    margin: 20px auto;
    width: 80%;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: justify;
    font-style: italic;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin-top: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.especes-container{
    display: flex;
    flex-direction: row;
    height: 350px;
    background-color: #9AC8EB;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(73, 48, 162, 0.625);
    text-align: center;
    font-size: 1.2rem;
    margin: 20px auto;
    width: 80%;
    height: 250px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: justify;
}

.imageEspeces {
    width: 250px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(73, 48, 162, 0.625);
} 

.vaquita-description,
.tortue-description,
.tortue-luth-description,
.baleine-bleue-description,
.requin-baleine-description {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
    font-family: cursive;
}